<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>

        <!-- Global configuration -->
        <tab id="chronorelais" translate="label" sortOrder="350">
            <label>Chronopost</label>
        </tab>
        <section id="chronorelais" translate="label" type="text" sortOrder="350" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Configuration</label>
            <tab>chronorelais</tab>
            <resource>Chronopost_Chronorelais::config_chronorelais</resource>

            <group id="contracts" translate="label" type="text" sortOrder="5" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Contracts</label>
                <field id="contracts" translate="label" type="hidden" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Manage my contracts</label>
                    <frontend_model>Chronopost\Chronorelais\Block\Adminhtml\System\Config\Contracts</frontend_model>
                </field>
            </group>

            <group id="shipping" translate="label" type="text" sortOrder="5" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General</label>
                <field id="tracking_view_url" translate="label comment" type="text" sortOrder="5" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Tracking URL</label>
                    <comment>For the English version, put 'en' instead of 'fr' in the URL</comment>
                </field>
                <field id="gs_path" translate="label comment" type="text" sortOrder="6" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>GS path</label>
                    <comment>Path for accessing the gs (Ghostscript) command</comment>
                </field>
                <field id="module_version" translate="label" type="text" sortOrder="7" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Module version</label>
                    <frontend_model>Chronopost\Chronorelais\Block\Adminhtml\System\Config\ModuleVersion</frontend_model>
                </field>
            </group>

            <group id="export_css" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Configuration Export CSS</label>
                <field id="file_extension" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Extension</label>
                    <source_model>Chronopost\Chronorelais\Model\Config\Source\FileExtension</source_model>
                </field>
                <field id="file_charset" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Charset</label>
                    <source_model>Chronopost\Chronorelais\Model\Config\Source\FileCharset</source_model>
                </field>
                <field id="endofline_character" translate="label" type="select" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Line ending</label>
                    <source_model>Chronopost\Chronorelais\Model\Config\Source\EndOfLineCharacter</source_model>
                </field>
                <field id="field_delimiter" translate="label" type="select" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Delimiter</label>
                    <source_model>Chronopost\Chronorelais\Model\Config\Source\FileDelimiter</source_model>
                </field>
                <field id="field_separator" translate="label" type="select" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Separator</label>
                    <source_model>Chronopost\Chronorelais\Model\Config\Source\FileSeparator</source_model>
                </field>
            </group>

            <group id="import" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Configuration Import</label>
                <field id="default_tracking_title" translate="label comment" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Default title</label>
                    <comment>This value can be modified in the import form</comment>
                </field>
                <field id="send_email" translate="label comment" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Send an e-mail</label>
                    <comment>Send a shipment confirmation to the customer</comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="shipping_comment" translate="label comment" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Comment</label>
                    <comment>Internal comment, can be left blank</comment>
                </field>
                <field id="include_comment" translate="label" type="select" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Include the comment in the e-mail</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>

            <group id="shipperinformation" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Sender's information for printouts</label>
                <field id="civility" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Sender Title</label>
                    <source_model>Chronopost\Chronorelais\Model\Config\Source\Civility</source_model>
                </field>
                <field id="name" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Sender Name</label>
                </field>
                <field id="name2" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Sender Name 2</label>
                </field>
                <field id="address1" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Address 1</label>
                </field>
                <field id="address2" translate="label comment" type="text" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Address 2</label>
                    <comment>optional</comment>
                </field>
                <field id="zipcode" translate="label" type="text" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Postcode</label>
                </field>
                <field id="city" translate="label" type="text" sortOrder="70" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Town/City</label>
                </field>
                <field id="country" translate="label" type="select" sortOrder="80" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Country</label>
                    <source_model>Magento\Directory\Model\Config\Source\Country</source_model>
                </field>
                <field id="contactname" translate="label" type="text" sortOrder="90" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Contact name</label>
                </field>
                <field id="email" translate="label comment" type="text" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>E-mail</label>
                    <comment>optional</comment>
                </field>
                <field id="phone" translate="label comment" type="text" sortOrder="110" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Telephone</label>
                    <comment>optional</comment>
                </field>
                <field id="mobilephone" translate="label comment" type="text" sortOrder="120" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Mobile</label>
                    <comment>optional</comment>
                </field>
                <field id="clean_informations" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="1">
                    <frontend_model>Chronopost\Chronorelais\Block\Adminhtml\System\Config\CleanButton</frontend_model>
                </field>
            </group>

            <group id="customerinformation" translate="label" type="text" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Chronopost customer information for printouts</label>
                <field id="civility" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Sender Title</label>
                    <source_model>Chronopost\Chronorelais\Model\Config\Source\Civility</source_model>
                </field>
                <field id="name" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Sender Name</label>
                </field>
                <field id="name2" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Sender Name 2</label>
                </field>
                <field id="address1" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Address 1</label>
                </field>
                <field id="address2" translate="label comment" type="text" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Address 2</label>
                    <comment>optional</comment>
                </field>
                <field id="zipcode" translate="label" type="text" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Postcode</label>
                </field>
                <field id="city" translate="label" type="text" sortOrder="70" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Town/City</label>
                </field>
                <field id="country" translate="label" type="select" sortOrder="80" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Country</label>
                    <source_model>Magento\Directory\Model\Config\Source\Country</source_model>
                </field>
                <field id="contactname" translate="label" type="text" sortOrder="90" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Contact name</label>
                </field>
                <field id="email" translate="label comment" type="text" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>E-mail</label>
                    <comment>optional</comment>
                </field>
                <field id="phone" translate="label comment" type="text" sortOrder="110" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Telephone</label>
                    <comment>optional</comment>
                </field>
                <field id="mobilephone" translate="label comment" type="text" sortOrder="120" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Mobile</label>
                    <comment>optional</comment>
                </field>
                <field id="clean_informations" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="1">
                    <frontend_model>Chronopost\Chronorelais\Block\Adminhtml\System\Config\CleanButton</frontend_model>
                </field>
            </group>

            <group id="returninformation" translate="label" type="text" sortOrder="55" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Return address</label>
                <field id="civility" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Civility</label>
                    <source_model>Chronopost\Chronorelais\Model\Config\Source\Civility</source_model>
                </field>
                <field id="name" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Name</label>
                </field>
                <field id="name2" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Name 2</label>
                </field>
                <field id="address1" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Address 1</label>
                </field>
                <field id="address2" translate="label comment" type="text" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Address 2</label>
                    <comment>optional</comment>
                </field>
                <field id="zipcode" translate="label" type="text" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Postcode</label>
                </field>
                <field id="city" translate="label" type="text" sortOrder="70" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Town/City</label>
                </field>
                <field id="country" translate="label" type="select" sortOrder="80" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Country</label>
                    <source_model>Magento\Directory\Model\Config\Source\Country</source_model>
                </field>
                <field id="contactname" translate="label" type="text" sortOrder="90" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Contact name</label>
                </field>
                <field id="email" translate="label comment" type="text" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>E-mail</label>
                    <comment>optional</comment>
                </field>
                <field id="phone" translate="label comment" type="text" sortOrder="110" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Telephone</label>
                    <comment>optional</comment>
                </field>
                <field id="mobilephone" translate="label comment" type="text" sortOrder="120" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Mobile</label>
                    <comment>optional</comment>
                </field>
                <field id="clean_informations" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="1">
                    <frontend_model>Chronopost\Chronorelais\Block\Adminhtml\System\Config\CleanButton</frontend_model>
                </field>
            </group>

            <group id="skybillparam" translate="label" type="text" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Printing settings</label>
                <field id="mode" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Mode</label>
                    <source_model>Chronopost\Chronorelais\Model\Config\Source\PrintMode</source_model>
                </field>
            </group>

            <group id="weightunit" translate="label" type="text" sortOrder="70" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Unit of weight</label>
                <field id="unit" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Unit of weight</label>
                    <source_model>Chronopost\Chronorelais\Model\Config\Source\WeightUnit</source_model>
                </field>
            </group>

            <group id="optionbal" translate="label" type="text" sortOrder="80" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Letterbox option</label>
                <field id="enabled" translate="label comment" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Activate the Chronopost letterbox option</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Check this option is listed in your contract</comment>
                </field>
            </group>

            <group id="assurance" translate="label" type="text" sortOrder="90" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Ad valorem insurance</label>
                <field id="enabled" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Activate ad valorem</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="amount" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Minimum amount to insure</label>
                    <frontend_class>validate-number</frontend_class>
                </field>
            </group>

            <group id="saturday" translate="label" type="text" sortOrder="100" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>Saturday option</label>
                <field id="startday" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Saturday option activated from</label>
                    <frontend_model>Chronopost\Chronorelais\Block\Adminhtml\System\Config\Date</frontend_model>
                    <backend_model>Chronopost\Chronorelais\Model\Config\Backend\Date</backend_model>
                </field>
                <field id="endday" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>To</label>
                    <frontend_model>Chronopost\Chronorelais\Block\Adminhtml\System\Config\Date</frontend_model>
                    <backend_model>Chronopost\Chronorelais\Model\Config\Backend\Date</backend_model>
                </field>
            </group>

            <group id="retour" translate="label" type="text" sortOrder="110" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>Return option</label>
                <field id="defaultadress" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>After-sales return address</label>
                    <source_model>Chronopost\Chronorelais\Model\Config\Source\Retour</source_model>
                </field>
            </group>

            <group id="tarification" translate="label" type="text" sortOrder="110" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>Pricing configuration</label>
                <field id="corsica_supplement" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Corsica supplement</label>
                    <frontend_class>validate-number</frontend_class>
                </field>
            </group>

            <group id="libelles_gmap" translate="label" type="text" sortOrder="120" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Libellés des éléments de la Map</label>
                <field id="horaires" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Libellé Horaires</label>
                </field>
                <field id="informations" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Libellé Informations</label>
                </field>
                <field id="ferme" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Libellé Fermé</label>
                </field>
                <field id="lundi" translate="label" type="text" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Libellé Lundi</label>
                </field>
                <field id="mardi" translate="label" type="text" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Libellé Mardi</label>
                </field>
                <field id="mercredi" translate="label" type="text" sortOrder="70" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Libellé Mercredi</label>
                </field>
                <field id="jeudi" translate="label" type="text" sortOrder="80" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Libellé Jeudi</label>
                </field>
                <field id="vendredi" translate="label" type="text" sortOrder="90" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Libellé Vendredi</label>
                </field>
                <field id="samedi" translate="label" type="text" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Libellé Samedi</label>
                </field>
                <field id="dimanche" translate="label" type="text" sortOrder="110" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Libellé Dimanche</label>
                </field>
            </group>
        </section>

        <!-- Shipping methods -->
        <section id="carriers">

            <!-- CHRONOPOST -->
            <group id="chronopost" translate="label" type="text" sortOrder="200" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Chronopost</label>

                <!-- Champs communs -->
                <include path="Chronopost_Chronorelais::system/carrier_shared_field.xml" />

                <!-- Autoriser la livraison le samedi -->
                <field id="deliver_on_saturday" translate="label" type="select" sortOrder="170" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Saturday delivery</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>

            <!-- CHRONOPOST C10-->
            <group id="chronopostc10" translate="label" type="text" sortOrder="201" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Chronopost C10</label>

                <!-- Champs communs -->
                <include path="Chronopost_Chronorelais::system/carrier_shared_field.xml" />

                <!-- Autoriser la livraison le samedi -->
                <field id="deliver_on_saturday" translate="label" type="select" sortOrder="170" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Saturday delivery</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>

            <!-- CHRONOPOST C18-->
            <group id="chronopostc18" translate="label" type="text" sortOrder="202" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Chronopost C18</label>

                <!-- Champs communs -->
                <include path="Chronopost_Chronorelais::system/carrier_shared_field.xml" />

                <!-- Autoriser la livraison le samedi -->
                <field id="deliver_on_saturday" translate="label" type="select" sortOrder="170" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Saturday delivery</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>

            <!-- CHRONOEXPRESS -->
            <group id="chronoexpress" translate="label" type="text" sortOrder="203" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Chrono Express</label>

                <!-- Champs communs -->
                <include path="Chronopost_Chronorelais::system/carrier_shared_field.xml" />

            </group>

            <!-- Chronosameday -->
            <group id="chronosameday" translate="label" type="text" sortOrder="203" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Chronopost SAMEDAY</label>

                <!-- Champs communs -->
                <include path="Chronopost_Chronorelais::system/carrier_shared_field.xml" />

                <!-- Autoriser la livraison le samedi -->
                <field id="deliver_on_saturday" translate="label" type="select" sortOrder="170" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Saturday delivery</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>

                <field id="delivery_time_limit" translate="label comment" type="select" sortOrder="180" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Disable after</label>
                    <source_model>Chronopost\Chronorelais\Model\Config\Source\SamedayTime</source_model>
                    <comment>This method will be disabled after the selected time. If it does not work check the Timezone under general settings.</comment>
                </field>

            </group>

            <!-- Chronorelais -->
            <group id="chronorelais" translate="label" type="text" sortOrder="204" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Chrono Relais</label>

                <!-- Champs communs -->
                <include path="Chronopost_Chronorelais::system/carrier_shared_field.xml" />

                <field id="show_map" translate="label" type="select" sortOrder="180" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Show Map</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>

                <field id="max_distance_search" translate="label" type="text" sortOrder="190" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Maximum search radius</label>
                </field>



            </group>

            <!-- Chronorelais Europe -->
            <group id="chronorelaiseur" translate="label" type="text" sortOrder="205" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Chrono Relais Europe</label>

                <!-- Champs communs -->
                <include path="Chronopost_Chronorelais::system/carrier_shared_field.xml" />

                <field id="showmap" translate="label" type="select" sortOrder="180" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Show Map</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>

                <field id="max_distance_search" translate="label" type="text" sortOrder="190" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Maximum search radius</label>
                </field>

            </group>

            <!-- Chronorelais DOM -->
            <group id="chronorelaisdom" translate="label" type="text" sortOrder="206" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Chrono Relais DOM</label>

                <!-- Champs communs -->
                <include path="Chronopost_Chronorelais::system/carrier_shared_field.xml" />

                <field id="show_map" translate="label" type="select" sortOrder="180" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Show Map</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>

                <field id="max_distance_search" translate="label" type="text" sortOrder="190" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Maximum search radius</label>
                </field>



            </group>

            <!-- Chronopost RDV -->
            <group id="chronopostsrdv" translate="label" type="text" sortOrder="207" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Chrono Precise</label>

                <!-- Champs communs -->
                <include path="Chronopost_Chronorelais::system/carrier_shared_field.xml" />

                <field id="rdv_config" translate="label" type="text" sortOrder="190" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Appointment configuration</label>
                    <frontend_model>Chronopost\Chronorelais\Block\Adminhtml\System\Config\RdvConfig</frontend_model>
                </field>

            </group>

            <!-- Chronopost CClassic -->
            <group id="chronocclassic" translate="label" type="text" sortOrder="208" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Chronopost Classic</label>

                <!-- Champs communs -->
                <include path="Chronopost_Chronorelais::system/carrier_shared_field.xml" />

            </group>

        </section>
    </system>
</config>
